<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width: 100%;" class="shadow">


<nav class="navbar navbar-expand-lg shadow p-1 " style="background-color: #2a2a72 ;" >
    <div class="container-fluid ">
      <a class="navbar-brand" style="padding-left: 10px; cursor: context-menu ; color: white;"  >
        <img src="/images/logo.png" style="width: 10%" alt=""> Raven</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="  color: white;">
        <span class="navbar-toggler-icon"  ><img src="data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E">
        </span>
      </button>
     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center"  >
        <li class="nav-item">
            <form class="d-flex justify-content-center" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 470px;" oninput="one()"   id="search" >
                <i class="fa fa-search" id="symbol" style="font-size: 20px; align-self: center; margin-left: -40px;"></i>
            </form>
        </li>
    </ul>
        
        <ul class="navbar-nav ml-auto order-0 " style="margin-right: 5%; ">
          <% if(isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile" style="color: white;"><%= user.name %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout" style="color: white;"> Log Out </a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login" style="color: white"> Login </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/signup" style="color: white"> Signup </a>
            </li>

          <% } %>
          
        </ul>
       
      </div>
    </div>
  </nav>
</div>
<script>
  
    let a=document.getElementById("symbol");
    let b=document.getElementById("search");
    function one(){
      
  if(b.value.length==0)
  
    a.style.display="inherit";
  else
  a.style.display="none";
    }
</script>
