<%- include('../partials/header'); %>

    <title><%= user.name %></title>
    <link rel="stylesheet" href="/css/auth-styles.css">
    <script src="https://use.fontawesome.com/92eb7d162b.js"></script>
</head>
<body  style="background-color:#eee;">
   
  <%- include('../partials/navigation'); %>

      <div class="container-fluid">
          <div class="container" style="background-color: white;">
            <div class="row">
                <div class="col-lg-3 bg-light p-3">
                    <img src="/images/user.png" class="mx-auto d-block py-5" style="border-radius: 50%; height : 150px; width: 150px"alt="">
                    <p class="text-center" style="font-family: Roboto, sans-serif">Tharun Vemula</p>
                    <p class="text-center">Hyderabad, Telangana</p>
                    <p class="text-center">Student</p>
                    <p class="text-center">150</p>
                </div>
                <div class="col-lg-9 bg-light p-3 border">
                    <p class="fs-2 my-1" style="font-family: 'Rubik', sans-serif;"> Tharun Vemula</p>
                    <p class="fs-5 my-1" style="font-family: 'Rubik', sans-serif; color: grey;"> Student at IIIT Kottayam</p>
                    <p class="fs-7 my-1" style="font-family: 'Rubik', sans-serif; color:grey"> <i class="fa-solid fa-location-pin"></i> Hyderabad, Telangana, India</p>
                </div>
                  
            </div>    
          </div>
      </div>

      <%- include('../partials/footer-next'); %>

</body>
</html>